*{
    margin: 0;
    padding: 0;
   
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #004040 ;
}

.topbar{
    height : 100px;
    width: 100%;
    background-color: #2f4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar i{
    font-size: 2rem;
    margin : 1rem;
}

.topbar h2{
    background-color: #2f4f4f;
}

.main{
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
    gap : 1.5rem;
    min-height: 60vh;

    background-color: #36454f ;
    width: 25%;
    
    margin:5% auto;
    border-radius: 1rem;
}

#stmt{
    font-size: 1.25rem;
    
}

#stmt1{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

#stmt1:hover{
    cursor: pointer;
    color: black;
}
input{
    width: 100%;
    border-radius: 1rem;
    background-color: lightgray;
    color: black;
    border: none;
    padding: 0.35rem;
    margin-top: 0px;

}
form{
display: flex;
align-items:stretch;
justify-content: space-around;
flex-direction: column;
flex: 0.5;
padding: 1rem;
color: white;
}

label{
  font-size: 1.2rem;
  padding: 1rem;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
    margin: 1rem;
}
select{
    border-radius:0.5rem;
    background-color: #f5f5f5;
    width: 100px;

    
}
.amount {
    
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0.75rem;
    gap:0.5rem;
}

.res{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px;
}

#msg{
   position: relative;
   bottom: 10px;
   font-size: 1.2rem;
   color: white;
   
}

button{
    gap:1rem;
    margin: 10px;
    width: 300px;
    border-radius:0.5rem ;
    height: 40px;
    background-color: #a6dba6;
    cursor: pointer;
    border: none;
}

button:hover{
    border: 3px solid black;
    color:darkmagenta ;
    transform: scale(1.05);
    transition: ease;
    transition-duration: 0.25s;
}

pre{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a4136 ;
    color: white
}